<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MiniGram</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <header>
      <h1>MiniGram</h1>
    </header>
    <main>
      <form action="/posts" enctype="multipart/form-data" method="POST">
        <label for="caption">Caption:</label><br />
        <input type="text" id="caption" name="caption" /><br />
        <label for="imgUpload">Image</label><br />
        <input type="file" id="imageUpload" name="file" /><br />
        <input type="submit" value="Post" />
        
      </form>
      <h3>Posts</h3>
      <ul class="posts">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="post">
            <span class="caption"><%=posts[i].caption%></span>
            <img src="<%=posts[i].image%>" alt="Uploaded Image">
            <span class="react">
              <i class="bi bi-heart"></i> 
              <!-- Initially hidden -->
              <i class="bi bi-heart-fill hide"></i>
            </span>
          </li>
        <% } %>
      </ul>
    </main>
    <script src="../scripts.js"></script>
  </body>
</html>
